{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint-config-airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "globals": {
    "__STATIC_CONFIG__": "readonly",
    "__FINAL_APP_CONFIG__": "readonly",
    "wx": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "useJSXTextNode": true
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
  "rules": {
    "no-use-before-define": "off",
    "arrow-body-style": "off",
    "prettier/prettier": "error",
    "global-require": "off",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "guard-for-in": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true,
        "allowShortCircuit": true,
        "allowTaggedTemplates": true
      }
    ],
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-shadow": "off",
    "no-console": "off",
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "no-param-reassign": "off",
    "no-continue": "off",
    "no-restricted-globals": "off",
    "dot-notation": "off",
    "max-classes-per-file": "off",
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "linebreak-style": ["error", "unix"],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/prop-types": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-deprecated": "off",
    "react/static-property-placement": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/state-in-constructor": "off",
    "react/sort-comp": "off",
    "react/prefer-stateless-function": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-triple-slash-reference": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "variables": false,
        "functions": false
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^Taro",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
